* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(135deg, #ddf6e1 0%, #f5f7fa 100%);
  color: #333;
  line-height: 1.5;
}

.wishlist-page-wrapper {
  display: flex; 
  flex-direction: column; 
  height: 100%; 
  max-height: calc(100vh - 10px); 
}


header {
  padding: 20px 40px;
  background: linear-gradient(120deg, #307c4e 0%, #76d53b 100%);
  box-shadow: 0 2px 4px #224d32;
  margin-bottom: 20px;
  flex-shrink: 0;
}

header h1 {
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.wishlist-container {
  justify-content: center;
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

.btn-primary {
    color: #0d6566;
    text-decoration: underline;
    font-size: 16px;
}

.btn-primary:hover {
    color: #062c2d; 
    text-decoration: underline; 
}

.empty-wishlist {
  text-align: center;
  color: #434242;
}

.empty-wishlist .empty-icon {
  margin-bottom: 1.5rem;
}

.wishlist-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wishlist-item {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative; 
}

.wishlist-item img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  flex-shrink: 0;
}

.product-info {
  padding: 15px;
  flex-grow: 1;
}

.product-info h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.product-info .description {
  font-size: 0.95rem;
  color: #595959;
  margin-bottom: 10px;
}

.product-info .price {
  font-weight: bold;
  color: #00a441;
}

.product-info .stock {
  color: #0d6566;
  font-size: 0.9rem;
  margin-top: 5px;
}

.wishlist-item .add-to-cart {
  margin: 50px;
  padding: 25px 25px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: background 0.3s;
  background: #0d6566;
  color: white;
}

.add-to-cart:hover {
  background: #45a049;
}

.remove {
  position: absolute; 
  top: 5px;          
  right: 5px;         
  background: rgba(255, 255, 255, 0.8); 
  color: #333; 
  border: 1px solid #ffffff; 
  width: 28px;       
  height: 28px;      
  border-radius: 50%; 
  display: flex;     
  justify-content: center; 
  align-items: center; 
  font-size: 1.1rem; 
  padding: 0;        
  cursor: pointer;
  z-index: 10;       
}

.remove:hover {
  background: #e0e0e0; 
  color: #000;
}

.alert {
    padding: 1rem; 
    margin-bottom: 1.5rem; 
    border: 1px solid transparent;
    border-radius: 8px; 
    font-weight: 500;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}